html {
  scroll-behavior: smooth;
}
body {
  color: white;
  background-color: #030200;
  overflow-x: hidden;
  font-family: "Sen", sans-serif;
  
}

a {
  text-decoration: none;
  color: white;
}
ul {
  padding: 0;
}

.mega-container {
  width: 60%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.spacer {
  height: 100px;
}


ul li {
  list-style-type: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 10px 0;
}

.navbar-logo a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
}

.navbar-toggle {
  cursor: pointer;
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

#messenger {
  box-shadow: inset 0px -6px 0px 0px #FFA818
}

.main-section {
  width: fit-content;
  display: flex;
  height: 90vh;
  align-items: center;
  font-size: 30px;
  line-height: 1.4;
}

.section-heading {
  text-align: center;
  margin: 100px auto;
}

.section-heading h2 {
  -webkit-box-shadow: inset 0px -5px 0px 0px #f06000;
  box-shadow: inset 0px -5px 0px 0px #f06000;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 15px;
}

.profile {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: stretch;
}

.profile .pic {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  vertical-align: top;
}

.profile .pic img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.profile .content {
  font-size: 20px;
  margin: auto;
  line-height: 1.6;
}

.profile .content span {
  line-height: 1.5;
  margin-top: 20px;
}

.social-media ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 0;
  width: 50%;
}

.social-media ul li {
  font-size: 35px;
}

.skills .icons {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}
.skills .icons li {
  font-size: 40px;
  margin: 30px 0;
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects .project {
  display: flex;
  gap: 100px;
  flex-direction: row;
  margin: 70px auto;
}

.projects .project .project-image {
  text-align: center;
  flex-basis: 50%;
  display: flex;
}

.projects .project .project-image img {
  width: 100%;
  margin: auto;
}

.about-project {
  width: calc(100% - 50px);
  margin: auto;
  font-size: 20px;
  line-height: 1.6;
}
.about-project:nth-child(odd) {
  text-align: right;
}

.made-with .icons ul {
  display: flex;
  gap: 25px;
  font-size: 30px;
}

.flex-reverse {
  justify-content: flex-end;
}

.contact-me {
  display: flex;
  gap: 50px;
}

form {
  flex-basis: 100%;
  overflow: hidden;

}

form input {
  width: 100%;
  margin: 20px 0px;
  padding: 12px 15px;
}

.contact-me-content {
  font-size: 20px;
  width: 70%;
}

footer h3 {
  text-align: center;
}

.btn {
  outline: none;
  padding: 12px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  margin: auto;
}



@media only screen and (max-width: 768px) {
  .mega-container {
    width: 90%;
  }
  #messenger {
    box-shadow: inset 0px -3px 0px 0px #FFA818
  }
  .main-section h1 {
    font-size: 22px;
  }
  .section-heading {
    margin: 50px auto;
  }
  .profile {
    flex-direction: column;
  }
  .social-media ul {
    display: flex;
    padding: 0;
    width: 100%;
  }
  .projects .project {
    flex-direction: column;
    margin: 20px auto;
  }
  .about-project {
    text-align: center;
  }
  .about-project:nth-child(odd) {
    text-align: center;
  }
  .projects .project .project-image {
    width: 100%;
  }
  .made-with .icons ul {
    justify-content: space-between;
  }
  .flex-reverse {
    justify-content: space-between;
  }
  .contact-me {
    display: block;
  }
  .contact-me-content {
   width: 100%;
  }

  .navbar-menu {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .navbar-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu-active {
    display: flex;
  } 

}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .profile {
    flex-direction: column;
  }
}



@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* CSS rules for extra-large screens */
}
